<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <connectionStrings>
    <add name="PokkerDbContext"
         connectionString="Data Source=.\pokkerdb.sqlite3"
         providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
</configuration>